.header-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.wrapper__controls--search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

::ng-deep .mat-grid-tile-content {
  display: block !important;
}

::ng-deep .mat-form-field-flex {
  background-color: #fff !important;
}

.description__cards {
  margin-top: 30px;
  padding: 10px;

  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.description--pwa {
  margin-top: 20px;
}

.description--article {
  color: rgb(58, 57, 57);
}

.title--article {
  color: #141118;
  cursor: pointer;
}

footer {
  span {
    color: #673ab7;
  }
}

.wrapper__empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

mat-card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper__articles {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-gap: 1rem;
}

@media (max-width: 400px) {
  margin-top: 0;
}
