<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ "my-first-pwa" | translate }}</span>
  <span class="header-spacer"></span>
  <button
    mat-flat-button
    aria-label="Example icon-button with share icon"
    (click)="donwload()"
    *ngIf="deferredPrompt"
  >
    <mat-icon>download</mat-icon>
    Download
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    [matMenuTriggerFor]="lenguage"
  >
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</mat-toolbar>

<section class="description__cards">
  <mat-card>
    <h1>{{ "welcome" | translate }}</h1>
    <p>
      {{ "text-1" | translate }}
    </p>
    <p>
      {{ "text-2" | translate }}
    </p>
  </mat-card>

  <mat-card class="description--pwa">
    <h2>{{ "what_is_pwa" | translate }}</h2>
    <p>
      {{ "text-3" | translate }}
    </p>
    <p>
      {{ "text-4" | translate }}
    </p>
  </mat-card>
</section>

<main class="p-1">
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="panelOpenState"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Filtros </mat-panel-title>
      </mat-expansion-panel-header>
      <section class="d-flex flex-direction gap">
        <mat-form-field style="max-width: 400px; width: 100%">
          <mat-label>Pesquisar</mat-label>
          <input matInput placeholder="Pesquisar" [formControl]="searchField" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Região</mat-label>

          <mat-select [formControl]="country" placeholder="Bank" #singleSelect>
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Pesquisar"
                [formControl]="countryFilter"
              ></ngx-mat-select-search>
            </mat-option>

            <mat-option
              *ngFor="let website of filteredOptions | async"
              [value]="website"
            >
              {{ website.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </mat-expansion-panel>
  </mat-accordion>

  <section class="wrapper__articles" *ngIf="articles$ | async as articles">
    <mat-card *ngFor="let article of articles" class="card flex-column">
      <h2 class="title--article">{{ article.title }}</h2>
      <main class="description--article">{{ article.description }}</main>
      <footer class="flex-column mt-auto pt-1">
        <div class="d-flex justify-content-space">
          <strong>{{ article.creator }}</strong>
          <strong>{{ article.pubDate | date: "dd/MM/yyyy" }}</strong>
        </div>
        <button
          (click)="openArticle(article)"
          style="align-self: flex-end"
          mat-raised-button
          color="primary"
        >
          {{ "read_more" | translate }}
        </button>
      </footer>
    </mat-card>
  </section>

  <div class="wrapper__empty" *ngIf="isLoading || isEmpty">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div *ngIf="isEmpty">
      <h1>{{ "not_found" }}</h1>
      <span>{{ "not_found_message" }}</span>
    </div>
  </div>
</main>

<mat-menu #menu="matMenu">
  <button
    class="d-flex gap align-items-center"
    mat-menu-item
    (click)="goGitLab()"
  >
    <img [src]="'https://docs.gitlab.com/assets/images/gitlab-logo.svg'" />
    <span>Meu gitlab</span>
  </button>
  <button
    class="d-flex gap align-items-center"
    mat-menu-item
    (click)="goToLinkdin()"
  >
    <img
      style="width: 24px"
      [src]="'https://cdn-icons-png.flaticon.com/512/174/174857.png'"
    />
    <span>Meu linkdin</span>
  </button>
</mat-menu>

<mat-menu #lenguage="matMenu">
  <button
    class="d-flex gap align-items-center"
    mat-menu-item
    (click)="changeLenguage('pt-br')"
  >
    <img
      [src]="
        'https://cdn-icons.flaticon.com/png/512/5315/premium/5315340.png?token=exp=1645749415~hmac=6f300437754d1d18f3590ca1654c2b30'
      "
      style="width: 24px"
    />
    <span>Português</span>
  </button>
  <button
    class="d-flex gap align-items-center"
    mat-menu-item
    (click)="changeLenguage('en')"
  >
    <img
      style="width: 24px"
      [src]="'https://cdn-icons-png.flaticon.com/512/197/197484.png'"
    />
    <span>Ingles</span>
  </button>
</mat-menu>
