/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: antiquewhite;
}

.p-1 {
  padding: 1.25rem;
}

.d-flex {
  display: flex !important;
}

.gap {
  gap: 10px;
}

.pt-1 {
  padding-top: 1rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-space {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.mt-auto {
  margin-top: auto;
}

input {
  outline: none;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 4px;
  padding: 5px;
}

.flex {
  flex: 1;
}

.flex-direction {
  flex-direction: row;
}

@media (max-width: 400px) {
  .flex-direction {
    flex-direction: column;
  }
}
